* {
  margin: 0;
  padding: 0%;
}

body {
  font-family: "Lato";
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.header {
  height: 75px;
  border: 1px solid #000;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-top: 18px;
  padding-left: 231px;
}

.main_search {
  margin-left: 41px;
  margin-top: 10px;
}

.head_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 38px;
  margin-top: 20px;
  margin-left: 41px;
}

.input_search {
  background-color: #F1E4E6;
  border: 1px solid #F26376;
  font-size: 14px;
  line-height: 17px;
  border-radius: 5px 0 0 5px;
  border-right: none;
  outline: none;
  padding-left: 10px;
}

.button_search {
  border: 1px solid #F26376;
  background-color: #F26376;
  border-radius: 0 5px 5px 0;
  padding-top: 4px;
  cursor: pointer;
}

.menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-right: 240px;
  padding-top: 26px;
}

.cabinet {
  margin-right: 33px;
}

.menu {
  margin-top: 2px;
  padding-right: 33px;
  padding-bottom: 22px;
  padding-left: 33px;
  position: relative;
}

.mega_heading {
  width: 232px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 24px;
  text-transform: uppercase;
}

.mega_heading2 {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.mega_box {
  display: none;
  background-color: #fff;
  padding-left: 33px;
  padding-top: 17px;
  padding-bottom: 157px;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100000;
}

.menu:hover .mega_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_item {
  margin-top: 20px;
}

.mega_link {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  margin-bottom: 11px;
  margin-left: 21px;
}

.mega_link:hover {
  color: #F16D7F;
}

.mainpic {
  height: 764px;
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainpic_text {
  padding-right: 331px;
  padding-top: 290px;
}

.line {
  margin-right: 16px;
}

.changepic {
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 65px;
  position: relative;
}

.threepic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  position: absolute;
  top: 105px;
  margin-left: 103px;
  color: #FFFFFF;
}

.text_men {
  margin-left: 125px;
}

.text_kids {
  margin-left: 123px;
}

.for {
  color: #F16D7F;
  font-weight: bolder;
  font-size: 24px;
}

.onepic {
  position: relative;
  margin-top: 30px;
}

.text_onepic {
  margin-left: 491px;
  top: 65px;
  padding-bottom: 65px;
}

.fetured {
  text-align: center;
  margin-top: 96px;
  margin-bottom: 48px;
}

.fet_up {
  margin-left: 230px;
  margin-right: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fet_down {
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fet_it {
  background-color: #F8F8F8;
  width: 360px;
  position: relative;
}

.add_box {
  position: absolute;
  top: 188px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.add {
  border: 1px solid #FFFFFF;
  padding: 10px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add:hover {
  border-color: #F16D7F;
  -webkit-box-shadow: 0 0 10px #F16D7F;
          box-shadow: 0 0 10px #F16D7F;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.add_txt {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 11px;
}

.fet_it:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.fet_it:hover .add_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fet_it:hover .item_img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.fet_it_cat {
  background-color: #F8F8F8;
  width: 360px;
  position: relative;
}

.fet_it_cat:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.fet_it_cat:hover .add_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fet_it_cat:hover .item_img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.fet_it_cat:nth-child(n+4) {
  margin-top: 30px;
}

.fet_h1 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.fet_text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.h_it {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  margin-left: 18px;
  margin-bottom: 12px;
}

.p_it {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  max-width: 314px;
  margin-left: 16px;
}

.price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  margin-left: 18px;
  padding-bottom: 20px;
}

.top_button {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 14px 38px 13px 38px;
  text-decoration: none;
  display: inline-block;
  margin-top: 63px;
  border: 1px solid #FF6A6A;
  margin-left: 695px;
  margin-bottom: 95px;
  color: #F26376;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.top_button:hover {
  background-color: #FF6A6A;
  color: #FFFFFF;
}

.advantages {
  height: 341px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.car {
  text-align: center;
  width: 360px;
  margin-left: 230px;
  padding-top: 103px;
  padding-bottom: 104px;
}

.sale {
  text-align: center;
  width: 360px;
  margin-left: 30px;
  padding-top: 104px;
  padding-bottom: 104px;
}

.quality {
  text-align: center;
  width: 360px;
  margin-left: 30px;
  margin-right: 230px;
  padding-top: 103px;
  padding-bottom: 104px;
}

.h_car {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 28px;
  padding-bottom: 16px;
}

.h_sale {
  padding-top: 19px;
}

.h_quality {
  padding-top: 25px;
}

.text_car {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.subscribe {
  background-image: url(img/Background.jpg);
  width: 1600px;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.face_img {
  margin-top: 97px;
  margin-left: 325px;
  margin-bottom: 30px;
}

.text_face {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-left: 228px;
}

.text_sub {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin-top: 150px;
  margin-right: 230px;
}

.input {
  background: #E1E1E1;
  border: none;
  width: 256px;
  height: 49px;
  border-radius: 20px 0 0 20px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

.foot_button {
  width: 100px;
  height: 49px;
  border: none;
  background-color: #F16D7F;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: -5px;
  margin-top: 32px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.foot_button:hover {
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.down_footer {
  height: 79px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p_footer {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 30px;
  margin-left: 235px;
  margin-bottom: 30px;
}

.social {
  margin-right: 230px;
  margin-top: 24px;
  margin-bottom: 23px;
}

.social_web {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.twitter {
  margin-left: 7px;
}

.pinterest {
  margin-left: 7px;
}

.instagram {
  margin-left: 7px;
}

.head_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 148px;
  background-color: #F8F3F4;
  padding-top: 59px;
  padding-bottom: 60px;
  padding-right: 230px;
  padding-left: 230px;
  margin-bottom: 35px;
}

.bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.bread_a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.end_bread {
  color: #F16D7F;
}

.new_arrivals {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.filter_container {
  padding-left: 246px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 51px;
  margin-bottom: 65px;
}

.filter_details {
  width: 360px;
  cursor: pointer;
  display: block;
  padding: 16px;
  position: absolute;
  z-index: 10000;
  background-color: #FFFFFF;
}

.filter_details[open] {
  -webkit-box-shadow: 0 0 20px #a1a1a1;
          box-shadow: 0 0 20px #a1a1a1;
}

.filter_more {
  padding-right: 684px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  position: absolute;
  margin-left: 393px;
}

.filter {
  background: url(Img/Filter.svg) no-repeat scroll 0 0;
  list-style-type: none;
  background-position: 51px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.container_palka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  width: 327px;
  border-bottom: 1px solid #EBEBEB;
}

.img_palka {
  height: 37px;
}

.filter_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.filter_link {
  text-decoration: none;
  padding-left: 34px;
}

.filter_link:hover {
  color: #EF5B70;
}

.filter_link:first-child {
  margin-top: 24px;
}

.filter_link:not(:first-child) {
  margin-top: 11px;
}

.filter_category {
  padding-top: 8px;
  padding-left: 11px;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

.filter_cat_things {
  list-style-type: none;
}

.filter_size {
  width: 79px;
  cursor: pointer;
  z-index: 100;
  background-color: #ffffff;
}

.size_link {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 9px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0 0 20px #a1a1a1;
          box-shadow: 0 0 20px #a1a1a1;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  padding-top: 7px;
}

.filter_trend {
  width: 132px;
  margin-right: 28px;
  cursor: pointer;
}

.filter_price {
  width: 65px;
  cursor: pointer;
}

.filter_arrow {
  background: url(Img/Arrow.png) no-repeat scroll 0 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-position: 51px;
}

.filter_arrow_size {
  background: url(Img/Arrow.png) no-repeat scroll 0 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-position: 39px;
}

.filter_arrow_trend {
  background: url(Img/Arrow.png) no-repeat scroll 0 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-position: 120px;
}

.filter_arrow_price {
  background: url(Img/Arrow.png) no-repeat scroll 0 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-position: 51px;
}

.slides {
  width: 284px;
  height: 44px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  margin-left: 644px;
  margin-top: 48px;
  margin-bottom: 96px;
  text-align: center;
}

.registration_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration_h {
  height: 148px;
  background-color: #F8F3F4;
}

.registration_p {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 59px;
  margin-left: 230px;
}

.reg_form {
  margin-top: 54px;
  width: 360px;
  margin-left: 230px;
}

.f_name {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name_txt {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.in_name {
  width: 340px;
  height: 45px;
  outline: none;
  padding-left: 17px;
  opacity: 0.5;
  margin-top: 20px;
}

.lab_m_f {
  margin-top: 31px;
}

.rad_male {
  margin-right: 10px;
}

.rad_female {
  margin-right: 10px;
  margin-left: 20px;
}

.reg_email {
  width: 340px;
  height: 45px;
  outline: none;
  padding-left: 17px;
  opacity: 0.5;
}

.log_txt {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 33px;
  margin-bottom: 20px;
}

.reg_pass {
  width: 340px;
  height: 45px;
  outline: none;
  padding-left: 17px;
  opacity: 0.5;
  margin-top: 20px;
}

.txt_pass {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
}

.reg_button {
  width: 167px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #FF6A6A;
  background-color: #F16D7F;
  color: #ffffff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 29px;
  margin-top: 39px;
  margin-bottom: 96px;
}

.reg_button:hover {
  background-color: #ffffff;
  color: #F16D7F;
}

.registration_txt {
  margin-left: 128px;
  margin-right: 230px;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.txt_info {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.txt_info:last-child {
  margin-top: 22px;
}

.reg_txt_down {
  margin-top: 21px;
}

.txt_info_down {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  background: url(Img/V1.svg) no-repeat;
  padding-left: 43px;
  background-position: left;
}

.txt_info_down:not(:first-child) {
  margin-top: 16px;
}

@font-face {
  font-family: "Lato";
  src: url(Fonts/Lato-Thin.ttf);
  font-style: normal;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */